.tables {
    margin: 0 auto 20px;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    padding: 0.5rem 0.5rem;
    border-bottom-width: 1px;
    /* border-radius: 10px; */
    /* box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); */
    text-align: center;
  }
  
  .bgColor {
      background-color: #000;
  }

  .today {
    background-color: #104a39;
    color: #fff;
  }
  
  .in-prev-month,
  .in-next-month {
    opacity: 0;
    /* textAlign: "center" */
  }